*{
    margin: 13px;
    padding: 5px; 
    box-sizing: border-box;
}


.container{
    max-width: 80%;
    background-color: rgb(241, 188, 188);
padding: 34px;
margin: auto;
}
.container h2{
    text-align: center;
}

input{
    font-size: 24px;
    width: 10%;
    padding: 17px;
}

select{
    font-size: 23px;
    text-align: center;
    width: 23%
    
}
.btn{
    color: white;
    /* background: 8px 12px; */
    /* padding: 20px; */
    /* font-size:20px; */
    /* border:2px solid white; */
    /* border-radius:14px; */
}